doctype html
html
  head
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    title= title
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      
      div.text-center.preLoader
        div.spinner-border(role='status')
          span.visually-hidden Loading...

      nav.navbar.sticky-top
        div.brand 
          h4 brand
        div.links
          ul
            li
              a.active(href='/') Home
              a(href='/signup') Sign Up
              a(href='/login') Log In
              a.linkHide(href='/') Log out

      // Table        
      div.mainUserTable.container
        h1.text-center Available Users
        div
          table.table
            thead.text-center
              tr
                th(scope='col') Sr. no.
                //- th(scope='col') Full Names
                th(scope='col') Emails
                th(scope='col') Usernames
                th(scope='col') Actions
            tbody.text-center.table-hover
              -let count = 0
              each u in userData
                -let id = u._id
                -count = count+1
                tr
                  th(scope='row')= count
                  td= u.email
                  td= u.username
                  //- td.pw 
                  td 
                    div.btnDiv(style='display: flex;')
                      form.m-0.p-0(action='/delete/'+id, name=id, method='post')
                        button.btn.btn-sm.btn-danger.mx-4(type='submit') Delete
                      div.btn-group.dropend
                        button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') Update
                        ul.dropdown-menu.border.border-warning
                            form.m-2.p-0(action='/update/'+id, name=id, method='post')
                              h5.text-center Update yourself
                              div.form-group
                                  label(for='email') Email
                                  input.form-control(type='email', name='uEmail', value=u.email id='uEmail')

                              div.form-group
                                  label(for='userName') Username
                                  input.form-control(type='text', name='uUsername', value=u.username, id='uUsername')

                              button.btn.btn-sm.btn-success.mx-4(type='submit') Update

















    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4", crossorigin="anonymous")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='./javascripts/pre.js')